{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="mb-3 mt-3 mt-md-0">
    <div class="center-block pl-2 pr-2">
        <div id="search_title" class="w-100 center text-center">
            <a class="btn btn-primary" href="#search_form" data-toggle="collapse" role="button">
                <span id="search-toggle" class="glyphicon glyphicon-search p-0">
                    {% trans 'Search' %}
                </span>
                <i class="fa fa-chevron-down center-block" style="height: 1.6rem; padding: 0px"></i>
            </a>
        </div>
        <div id="search_form" class="collapse accordion-body {% if is_search %}d-block{% endif %}">
            <form method="GET" action="{% url filter_url_name %}">
                {% crispy filter.form %}
            </form>
        </div>
        <div id="search_form_desktop" class="accordion-body {% if is_search %}d-block{% endif %}">
            <form method="GET" action="{% url filter_url_name %}">
                {% crispy filter.form %}
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static '/js/common/search.js' %}?v={{ JS_VERSION }}"></script>