<ul class="pager" style="margin: 0px;">
  <li><a href="{{ last_url }}"> < </a></li>
  <li><span class="moxie_header_date">{{ current_month_and_year }}</span></li>
  <li><a href="{{ next_url }}"> > </a></li>
</ul>

<!-- 	<div class="moxie_time_frame_selector">
			<a href="<?php echo $last_url; ?>">
				<div class="moxieprevious"> < </div>
			</a>
			<div class="moxie_header_date"><span style="display: inline-block; line-height: normal;"><?php echo $current_month_and_year; ?></span></div>
		<a href="<?php echo $next_url; ?>">
			<div class="moxienext"> > </div>
		</a>
		</div>-->