AuthType None
Require all granted
Satisfy any

RewriteEngine On
#RewriteCond %{HTTP_REFERER} ^hugoboss666.*$ [NC, OR]
#RewriteCond %{HTTP_REFERER} !^moxie$ [NC]
#RewriteRule ^/expenses$  /moxie/expenses [L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
