* {margin:0; padding:0;}

html {
	font: 90% arial,sans-serif;
	padding:2px;
	background:#ffffff;
}
form {
	background:#fafafa;
	padding:1em;
	border:1px solid #eee;
	margin:1em;
}
fieldset div {
	margin:0.3em 0;
	clear:both;
}
a {
	color: #0b77b7;
	text-decoration:none;
}
a:hover {
	color: #0202a7;
}

label {
	float:left;
	width:5em;
	text-align:right;
	margin-right:1em;
}
legend {
	color:#0b77b7;
	font-size:1.2em;
}
legend span {
	width:1em;
	text-align:right;
}
input {
	padding:0.15em;
	width:8em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}
.my-checkbox {
	width: 1em;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}
fieldset {
	border:1px solid #ddd;
	/*padding:0 0.5em 0.5em;*/
}
.date input {
	background-image:url(img/calendar-small.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}

.date fieldset label {
	float:none;
	display:block;
	text-align:left;
	width:auto;
}
.date fieldset div {
	float:left;
	clear:none;
	margin-right:0.2em;
}
.radio, .date {
	position:relative;
}
.radio fieldset, .date fieldset {
	border:none;
	width:auto;
	padding:1px 0 0 11em;
}
.radio legend, .date legend {
	font-size:1em;
	color:#000;
}
.radio legend span, .date legend span {
	position:absolute;
	left:0;
	top:0.3em;
	width:10em;
	display:block;
}
.radio label, .radio input {
	vertical-align:middle;
	display:inline;
	float:none;
	width:auto;
	background:none;
	border:none;
}
.radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

table.list, td.list, th.list tr.list {
	color: #000000;
	padding: 2px;
	border-collapse: collapse;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid #c5c5c5;
}

.list td {
	padding: 3px;
}

.list_money {
	width: 100px;
}

.total_amount {
	color: #777777;
}

input.default {
	color:#bbb;
}

form.budget {
	background:#fff;
	padding: 0em;
	border: none;
	margin: 0em;
}

.moxietitle {
	cursor: hand;
	cursor: pointer;
	background:url("img/moxie-title.png") no-repeat;
}

.moxietitle:hover {
	background:url("img/moxie-title-hover.png") no-repeat;
}

div.moxieicon {
	width: 16px;
	height: 16px;
}
div:hover.moxieicon {
	cursor: hand;
	cursor: pointer;
}
div.moxienext {
	width: 21px;
	height: 15px;
	background:url("/img/next.png") no-repeat;
}
div:hover.moxienext{
	width: 21px;
	height: 15px;
	background:url("/img/next_hover.png") no-repeat;
}
div.moxieprevious {
	width: 21px;
	height: 15px;
	background:url("/img/previous.png") no-repeat;
}
div:hover.moxieprevious {
	width: 21px;
	height: 15px;
	background:url("/img/previous_hover.png") no-repeat;
}
div.moxieedit {
	background:url("/img/edit.png") no-repeat;
}
div:hover.moxieedit {
	background:url("/img/edit_hover.png") no-repeat;
}
div.moxiedelete {
	background:url("/img/delete.png") no-repeat;
	display:inline-block;
	border-top: 5px;
}
div:hover.moxiedelete {
	background:url("/img/delete_hover.png") no-repeat;
}

tr.alt td.alt {
	background: #ecf6fc;
}

tr.over td, tr:hover td.over {
	background: #bbffff;
}

table.moxie, td.moxie, tr.moxie, th.moxie {
	font-family: Monospace;
}

#box {
	border:2px solid #D0E8F4;
	background-color:#ECF8FD;
    padding:5px;
}

#bottom {
	background: #ffffff;
	position: fixed;
	left: 0; right: 0;
	height: 30px;
	color: #222;
	bottom: 0;
}

.moxie-container {
	padding-bottom: 50px;
}

.moxie_header_date {
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
}

.my-checkbox {
	width: 1em;
}

.moxie_form {
	padding: 14px;
	border: 1px solid #eee;
	margin: 10px;
	/*width:80%;*/
}

.moxie_edit {
	width: 5%;
}

.moxie_category {
	width: 18%;
}

.moxie_amount {
	width: 35%;
}

.moxie_note {
}

.moxie_login_header {
}

.moxie_login_body {
	width: 100%;
	display:none;
}

/*** pseudo-select box ***/
div.selectBox {
    position:relative;
    display:inline-block;
    cursor:default;
    text-align:left;
    clear:both;
    color:#888;
}
span.selected {
    width:116px;
    padding: 0.15em;
    text-indent:2px;
    border:1px solid #ccc;
    border-right:none;
    background:#f6f6f6;
    overflow:hidden;
}
span.selectArrow {
    width:26px;
    height: 18px;
    padding: 2px 0 0 0;
    border:1px solid #60abf8;
    text-align:center;
    font-size:inherit;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #bbb;
    background:#4096ee;
}

span.selectArrow,span.selected {
    position:relative;
    float:left;
    z-index:300000000;
}
div.selectOptions {
    position:absolute;
    top:28px;
    left:0;
    width:94%;
    border:1px solid #ccc;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;
    background:#f6f6f6;
    padding-top:2px;
    display:none;
}

span.selectOption {
    display:block;
    width:80%;
    line-height:20px;
    padding:5px 10%;
}

span.selectOption:hover {
    color:#f6f6f6;
    background:#4096ee;
}


@media only screen and (min-width: 1060px) {
	.moxie-container {
		width: 100%;
	}

	.moxie-left {
		float: left;
	}

	.moxie-right {
		float: right;
	}
}

/* Desktop */
@media only screen and (min-width: 481px) and (max-width: 1059px) {
	html {
	}
	legend {
		color:#0b77b7;
		font-size:1.2em;
	}

	.moxie_login_header {
		display:none;
	}

	.moxie_login_body {
		font-size: x-large;
		display: block;
	}

	.moxie_login_body_table {
		font-size: larger;
		width: 50%;
	}

	.moxie-submenu {
		display: none;
	}

	.moxie-data {
		border: 1px;
		width: 100%;
        font-size: 20px;
	}

	.moxie-stats {
		width: 350px;
		font-size: 22px;
	}

	.my-checkbox {
		width: 1em;
	}

	.moxie_amount {
		width: 16%;
	}
}


/* Mobile */
@media screen and (max-device-width: 480px) {
	html {
		font-size: 25px;
		border: 0;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	body {
		border: 0;
		margin: 0;
		padding: 0;
	}

	legend {
		color: #0b77b7;
		font-size: 30px;
	}

	form {
		background: #fafafa;
		padding: 5px;
		border: 1px solid #eee;
		margin: 5px;
	}

	.moxie_login_header {
		display:none;
	}

	.moxie_login_body {
		display: block;
	}

	.moxie_login_body_table {
		padding: 20px 0 0 0;
		width: 100%;
	}

	.moxie_login_button {
		padding: 2px;
		width: 100%;
	}

	table, label {
		font-size: inherit;
	}

	input {
		width: 90%;
	}

	.moxie-left {
		width: 100%;
	}

	.moxie-right {
	}

	.moxie-submenu {
	}

	.moxie-data {
		border: 1px;
		font-size: large;
	}

	.moxie-stats {
		width: 100%;
		font-size: 30px;
	}

	.my-checkbox {
		zoom: 1.1;
		width: 30px;
		height: 30px;
	}

	.moxie_amount {
		width: 34%;
		height: 40px;
	}

	.moxie-container {
		width: 100%;
	}

	
	div.selectBox {
		width: 97%;
		line-height: 30px;
	}
	
	span.selected {
		text-indent: 20px;
		width:85%;
	}

	span.selectArrow,span.selected {
		height: 34px;
	}
}

.moxie-submenu {
	display: none;
}

.moxie-stats {
	font-size: 22px;
	width: 100%;
}
