{% load i18n %}
<!-- web menu -->
<nav class="navbar navbar-default navbar-static-top w-100" role="navigation">
	<div class="container w-100">
        <div class="navbar-header">
            <div class="align-left">
                <span class="moxietitle">Moxi€</span>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">

{% if user.is_authenticated %}
    {% for url in urls  %}
		<li role="presentation {% if url in request.url %}active{% endif %}"><a href="/{{ url }}">{% trans url %}</a></li>
    {% endfor %}
	<li role="presentation"><a href="{% url 'logout' %}">{% trans 'logout' %}</a></li>
{% else %}
	<li role="presentation"><a href="/">{% trans 'index' %}</a></li>
	<!--<li role="presentation"><a href="/finance/index">'.$st_lang['finance'].'</a></li>-->
	<li role="presentation"><a href="/index/about">{% trans 'about' %}</a></li>
{% endif %}
			</ul>
            <!--<ul class="nav navbar-nav nav-pills navbar-right">
                <li><a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/Moxie-111446182371815/?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn btn-block btn-social-icon btn-twitter" href=""><span class="fa fa-twitter"></span></a></li>
            </ul>-->
		</div>
	</div>
</nav>