{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<div id="forms">
    <div class="moxie_expenses_form_div moxie_expenses_form_left">
    <!--<button data-toggle="collapse" data-target="#sheets_add_expense" class="btn btn-info">{% trans 'Add expense' %}</button>-->
        <button data-toggle="collapse" data-target="#sheets_add_user" class="btn btn-info mt-3">{% trans 'Add user' %}</button>
        <div id="sheets_add_user" class="collapse mt-3 mb-4">
            {% crispy add_user_form %}
        </div>

        <div id="sheets_add_expense" class="form-group mt-4 mb-3">
            {% crispy shared_expenses_form %}
        </div>
    </div>

    <div id="distribution_box" class="moxie_expenses_form_div moxie_expenses_form_right moxie-right">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{% static '/js/sheets/stats.js' %}?v={{ JS_VERSION }}"></script>
        <div id="sheet_distribution"></div>
    </div>
</div>