{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% if not request.user.is_authenticated %}
<center>
    <div align="center" class="form-group text-center" style="width: 250px; margin-bottom: 3rem;">
        <form name="login" id="login_form" action="/login" method="POST">
            <fieldset>
                <legend>{% trans 'Login' %}</legend>
				<input type="text" name="username" id="username" maxlength=12 class="form-control" placeholder="{% trans 'Login' %}">
                <input type="password" name="password" id="password" maxlength=50 class="form-control" placeholder="{% trans 'Password' %}">
                <input type="submit" value="{% trans 'Login' %}" class="form-control btn btn-info moxie_login_button" style="margin-bottom: 0.8rem">
                {% csrf_token %}

                {% for message in messages %}
                <div style="color: {% if 'error' in message.tags %}#FF0000{% else %}#00AA00{% endif %}; font-weight: bold; margin-bottom: 1rem;">
                    {{ message }}
                </div>
                {% endfor %}

				<div class="text-normal text-left mb-1" style="margin-bottom: 0.8rem"><a href="{% url 'register' %}">{% trans 'New user' %}</a></div>
                <div class="text-normal text-left mb-1" style="margin-bottom: 0.8rem"><a href="{% url 'forgot-password' %}">{% trans 'Forgot password?' %}</a></div>
            </fieldset>
        </form>
        <div>{{ error }}</div>
    </div>
</center>
{% else %}
    <head>
        <meta http-equiv="Refresh" content="0; url=http://127.0.0.1:8000/expenses">
    </head>
{% endif %}
{% include 'index/twitter.html' %}
{% endblock %}