{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-4 offset-4">
        <h1 class="font-weight-bold h4 moxie-color text-center">
            {% trans 'Password Reset Confirm' %}
        </h1>
        <p>{% trans 'Please enter your new password.' %}</p>
        <form id="reset_password_form" method="POST">
            {% crispy form %}
            <button id="reset_password_form_submit" class="btn btn-info form-control moxie_login_button mt-2" type="submit">
                {% trans 'Reset password' %}
            </button>
        </form>

        {% for message in messages %}
        <div style="color: {% if 'error' in message.tags %}#FF0000{% else %}#00AA00{% endif %}; font-weight: bold; margin-bottom: 1rem;">
            {{ message }}
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        let form = $('#reset_password_form');
        let submit = $('#reset_password_form_submit');
        form.append(submit);
    });
</script>
{% endblock %}