{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="content-section">
                    <h1 class="font-weight-bold h4 moxie-color text-center">{% trans 'Reset Password' %}</h1>
                    <form method="POST">
                    {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}