{% load i18n %}
{% load static %}

<script type="text/javascript">
	let message = "{% trans 'budgets_save_successful' %}";
</script>
<script type="text/javascript" src="{% static '/js/budgets/data.js' %}?v={{ JS_VERSION }}"></script>

<div id="budget_table" class="accordion-body collapse form-group">
	<table class="table">
        <tbody>
		<td>
			<table class="table table-striped">
            {% if current_budget %}
                <th colspan="3">{{ current_budget.0.date_created|date:'d/m/Y' }}</th>
                {% for bl in current_budget %}
                    <tr>
                    <td>{{ bl.category }}</td>
                    <td align="right">
                        <input type="hidden" name="category{{ bl.pk }}" id="category{{ bl.pk }}" value="{{ bl.pk }}">
                        <input type="text" id="amount{{ bl.pk }}" name="amount{{ bl.pk }}" onChange="getSum({{ bl.pk }})" value="{{ bl.amount}}" style="text-align: right;" class="form-control">
                    </td>
                    <td width=15></td>
                    </tr>
                {% endfor %}
            {% endif %}
			<tr>
			<td></td><td align="right"><span id="sum"><b>{{ current_budget_amount }} &euro;</b></span></td>
			<td><span id="spinner" style="display:none"><img src="{% static '/img/spinner.gif' %}"></span></td>
			</tr>
			<tr>
			<td colspan="2">
				<input type="button" value="Snapshot" onclick="snapshot();" class="form-control"></form>
			</td>
				</tr>
				<tr>
				<td align="center">
					<span id="message"></span>
				</td>
			</tr>
			</table>
		</td>

		<td valign="top">
			<div>{% trans 'budgets_title' %}</div>
            {% for budget in budgets_list %}
                <div>
                    {{ budget.date_created }} - <a href="{% url 'budget_delete' budget.pk %}">{% trans 'Borrar' %}</a>
                </div>
            {% endfor %}
		</td>
        </tbody>
	</table>
</div>