{% load static %}
{% load crispy_forms_tags %}
<div id="categories_table" class="form-group accordion-body">

<form>
    {% crispy categories_form %}
</form>

<ul id="categories_list" class="categories_list">
    {% for category in categories_list %}
        <li class="ui-state-default">
        <span>
            <a href="/categories/edit/id/{{ category.subcategories.id }}">
                <img src="{% static '/img/edit.png' %}">
            </a>
        </span>
        <span class="categories_list">
            <input type="hidden" name="{{ category.pk }}"/> {{ category }} ({{ category.type_name }})
        </span>
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        </li>
    {% endfor %}

{#<?php#}
{#foreach ($this->categories_list as $key => $value) {#}
{#	if (!empty($value['parent1'])) {#}
{#		$first_name = (!empty($value['name1'])) ? $value['name1']." --- " : "";#}
{#        echo '<li class="ui-state-default">';#}
{#		echo '<span><a href="/categories/edit/id/'.$value['id1'].'"><img src="/img/edit.png"></a></span>';#}
{#		switch($value['type']) {#}
{#			case 1:#}
{#				$cat = $st_lang['categories_expense'];#}
{#				break;#}
{#			case 2:#}
{#				$cat = $st_lang['categories_income'];#}
{#				break;#}
{#			case 3:#}
{#				$cat = $st_lang['categories_both'];#}
{#				break;#}
{#		}#}
{#        echo '<span class="categories_list"><input type="hidden" name="'.$value['id1'].'"/>'.$first_name.$value['name2']." (".$cat.")</span>";#}
{#        echo '<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>';#}
{#        echo "</li>";#}
{#	}#}
{#}#}
{#?>#}
</ul>
</div>
<br><br>

<script>
    $(document).ready(function() {
        const cat_list = $('#categories_list');
        cat_list.sortable({
            delay: 100,
            stop:  function (event, ui) {
                // get all inputs inside categories_list and send
                let cats = {};
                cat_list.find('input').each(function(index) {
                    cats[index] = $(this).attr('name');
                });
                $.post('/categories/order', cats);
            }
        });
        cat_list.disableSelection();
    });
</script>