{% load i18n %}
<div id="favourites_table" class="form-group accordion-body collapse mt-3">
<div class="container">
    <table class="table table-striped table-bordered table-condensed table-hover w-100" id="mytable">
{% if favourites %}
        <thead>
        <tr>
            <th class="list moxie_edit">&nbsp;</th>
            <th class="list moxie_note text-left">{% trans 'Expenses note' %}</th>
            <th class="list moxie_note">{% trans 'Tags used' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for fav in favourites %}
            <tr>
                <td class="list moxie_edit">
                    <a class="moxieedit" href="{% url 'expenses_edit' fav.transaction.id %}">
                        <div class="moxieicon fa fa-pencil"></div>
                    </a>
                </td>
                <td class="list moxie_note">{{ fav.transaction.note }}</td>
                <td class="right text-right">
                        <div>
                        {% for favourite in fav.transaction.tags.all %}
                            {% if favourite.tag %}
                                <span class="tag label label-info">{{ favourite.tag.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
{% endif %}
</table>
</div>
</div>