{% load i18n %}
<div id="favourites_table" class="form-group accordion-body collapse">
    <table class="table table-striped table-bordered table-condensed table-hover" id="mytable" width="100%">

{% if favourites %}
        <thead>
        <tr>
            <th class="list moxie_edit">&nbsp;</th>
            <th class="list moxie_note">{% trans 'expenses_note' %}</th>
            <th class="list moxie_note">{% trans 'tags_title' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for fav in favourites %}
            <tr>
                <td class="list moxie_edit">
                    <a class="moxieedit" href="{% url 'expenses_edit' fav.transaction.id %}">
                        <div class="moxieicon moxieedit"></div>
                    </a>
                </td>
                <td class="list moxie_note">{{ fav.transaction.note }}</td>
                <td>
                    {% for tag in fav.transaction.tags.all %}
                        {% if tag.tag %}
                            {{ tag.tag.name }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
{% endif %}
</table>
</div>