{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

<script type="text/javascript">

$(document).ready(function() {
	$("#myaccountform").submit(function(e){
		let error_message = "{% trans 'myaccount_password_error' %}";
		if ($("#password").val() === $("#password_check").val()) {
			$("#myaccountform").submit();
		}
		else {
			alert(error_message);
			return false;
		}
	});
});
</script>

    <div class="mt-3"></div>
<button data-target="#my_account" class="toggable btn btn-info"><i class="fa fa-user-circle-o"></i> {% trans 'users_my_account' %}</button>
<button data-target="#categories_table" class="toggable btn btn-info"><i class="fa fa-clipboard"></i> {% trans 'categories' %}</button>
<button data-target="#favourites_table" class="toggable btn btn-info"><i class="fa fa-star"></i> {% trans 'Favourites' %}</button>
<button data-target="#budget_table" class="toggable btn btn-info"><i class="fa fa-calculator"></i> {% trans 'budget' %}</button>
<button data-target="#tags_table" class="toggable btn btn-info"><i class="fa fa-tag"></i> {% trans 'tags_title' %}</button>

<div id="my_account" class="accordion-body collapse form-group">
    {{ my_account_form|crispy }}
    <input type="submit" value="Save" class="btn btn-success">
</div>

{% include 'categories/categories.html' %}

{% include 'categories/favourites.html' %}

{% include 'categories/budget.html' %}

{% include 'tags/tags.html' %}

<div id="donate">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="RVPQ896TDVARA">
		<input style="height: auto;" type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
		<img alt="" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>

{% endblock %}