{% load i18n %}

<div id="tags_table" class="accordion-body collapse">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h2 id="tags_title">
                {% trans 'tags_title' %} {% trans 'press_here_display' %}
            </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="{% url 'tags' %}" method="POST">
                    {% trans 'tags_notice' %}
                    {% csrf_token %}
                    <input id="tags" name="tags" type="text" data-role="tagsinput">
                    <input type="submit" value="{% trans 'tags_update' %}" class="btn btn-primary" style="margin-top: 1rem;">
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>

<script type="text/javascript">
    let tagList = [
        {% for key, tag in tag_list.items %}
            "{{ tag }}",
        {% endfor %}
    ];
    $('#tags').val(tagList);
</script>