{% load i18n %}
{% load static %}

<div id="budget" class="accordion-body mt-3">
    <table class="w-100 text-center mb-2">
        <tr>
            <td>
                <ul class="pager" style="margin: 0;">
                  <li>
                      <a href="{% url 'stats_year' year|add:-1 %}"> &lt; </a>
                  </li>
                  <li>
                      <span class="moxie_header_date">{{ year }}</span>
                  </li>
                  <li>
                      <a href="{% url 'stats_year' year|add:1 %}"> &gt; </a>
                  </li>
                </ul>
            </td>
        </tr>
    </table>

    <table class="table table-striped table-bordered table-stats table-condensed table-hover">
    <th></th>

        {% for income_line in incomes %}
            <tr>
            {% for income in income_line %}
                <td>{{ income.title }}</td>
            {% endfor %}
            </tr>
        {% endfor %}

        {% for expense_line in expenses %}
            <tr>
            {% for expense in expense_line %}
                <td>{{ expense.title }}</td>
            {% endfor %}
            </tr>
        {% endfor %}

    <tr>
    <td colspan='.$i_colspan.'>&nbsp;</td><tr>

    <th class="text-left">{% trans 'stats_budget_total' %}</th>
    <?php echo $balance_output; ?>

    </tr>
    </table>
</div>