{% load i18n %}
{% load static %}

<div id="budget" class="accordion-body mt-3">
    <table class="w-100">
        <!-- Form + expenses list -->
        <tr>
        <td>
                        <div style="display: none">
            <?php
            global $st_lang;
            $last_url = '/stats/index/year/'.($this->year-1);
            $next_url = '/stats/index/year/'.($this->year+1);
            $current_month_and_year = $this->year;
            $this->getHelper('Web')->printHeaderNextLastInterval($last_url, $next_url, $current_month_and_year);
            ?>
                        </div>
        </td>
        </tr>
    </table>

    <table class="table table-striped table-bordered table-stats table-condensed table-hover">
    <th></th>

        {% for income_line in incomes %}
            <tr>
            {% for income in income_line %}
                <td>{{ income.title }}</td>
            {% endfor %}
            </tr>
        {% endfor %}

        {% for expense_line in expenses %}
            <tr>
            {% for expense in expense_line %}
                <td>{{ expense.title }}</td>
            {% endfor %}
            </tr>
        {% endfor %}

    <tr>
    <td colspan='.$i_colspan.'>&nbsp;</td><tr>

    <th class="text-left">{% trans 'stats_budget_total' %}</th>
    <?php echo $balance_output; ?>

    </tr>
    </table>
</div>