{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<style>
table.table-stats {
	font-size: 11px;
	width: 100%;
}
.table-stats td, th {
	text-align: right;
}
</style>

<button data-target="#budget" class="toggable btn btn-info">{% trans 'Budget' %}</button>
<button data-target="#stats_table_yearly" class="toggable btn btn-info">{% trans 'Yearly' %}</button>
<button data-target="#stats_trends_container" class="toggable btn btn-info">{% trans 'Trends' %}</button>
<button data-target="#box" class="toggable btn btn-info">{% trans 'Stats' %}</button>

{% include 'stats/budget.html' %}
{% include 'stats/yearly.html' %}
{% include 'stats/trends.html' %}
{% include 'stats/stats.html' %}
{% endblock %}