{% load i18n %}

<div id="box" class="accordion-body collapse">
    <table class="table table-striped table-bordered table-stats w-100">
    <thead>
        <tr>
        <th class="text-left">{% trans 'category' %}</th>
        <th class="text-right">{% trans 'Total' %}</th>
        <th class="text-right">{% trans 'Total this year' %}</th>
        <th class="text-right">{% trans 'Average this year' %}</th>
        <th class="text-right">{% trans 'Average of one buy' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for k, stat in stats.items %}
            <tr>
            <td class="text-left">{{ stat.category }}</td>
            <td class="text-right">{{ stat.total|floatformat:2 }} &euro;</td>
            <td class="text-right">{{ stat.total_this_year|floatformat:2 }} &euro;</td>
            <td class="text-right">{{ stat.avg_this_year|floatformat:2 }} &euro;</td>
            <td class="text-right">{{ stat.avg|floatformat:2 }} &euro;</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>