[production]
moxie.app.name = "Moxie"
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 1
moxie.settings.url = "https://moxie.dootic.com"
moxie.db.host = "localhost"
moxie.db.username = "username"
moxie.db.password = "password"
moxie.db.port = 3306
moxie.db.database = "MOXIE"
moxie.email = "moxie@dootic.com"

[staging : production]
moxie.app.name = "Moxie"
moxie.settings.url = "http://moxie.redirectme.net"
moxie.db.host = "127.0.0.1"
moxie.db.username = "username"
moxie.db.password = "password"
moxie.db.port = 3306
moxie.db.database = "moxie"

[testing : production]
moxie.app.name = "Moxie"
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
moxie.db.host = "127.0.0.1"
moxie.db.username = "username"
moxie.db.password = "password"
moxie.db.port = 3306
moxie.db.database = "moxie_test"
 
[development : production]
moxie.app.name = "Moxie-DEV"
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
moxie.settings.url = "http://moxie.dev"
moxie.db.host = "127.0.0.1"
moxie.db.username = "username"
moxie.db.password = "password"
moxie.db.port = 3306
moxie.db.database = "moxie"
