* {margin:0; padding:0;}

html {
	font: 90% arial,sans-serif;
	padding:2px;
	background:#ffffff;
}
h2 {
	margin-top: 8px;
	font-size: 18px;
}
form {
	padding:3px;
	margin:1px;
}
fieldset div {
	margin:0.3em 0;
	clear:both;
}
a {
	color: #0b77b7;
	text-decoration:none;
}
a:hover {
	color: #0202a7;
}

legend {
	color:#0b77b7;
	font-size:1.2em;
}
legend span {
	width:1em;
	text-align:right;
}

.optional {
	font-size: 13px;
	font: 90% roboto,sans-serif;
}
dt {
	margin-bottom: 3px;
	margin-top: 2px;
}
input[type="checkbox"] {
	width: 25px;
	height: 32px;
}

.my-checkbox {
	width: 1em;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}
fieldset {
	/*border:1px solid #ddd;*/
	/*padding:0 0.5em 0.5em;*/
}

form {
	border: 0;
	margin: 0;
	padding: 0;
}

.radio {
	position:relative;
}
.radio fieldset {
	border:none;
	width:auto;
	padding:1px 0 0 11em;
}
.radio legend {
	font-size:1em;
	color:#000;
}
.radio legend span {
	position:absolute;
	left:0;
	top:0.3em;
	width:10em;
	display:block;
}
.radio label, .radio input {
	vertical-align:middle;
	display:inline;
	float:none;
	width:auto;
	background:none;
	border:none;
}
.radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

table.list, td.list, th.list tr.list, tr.list > td {
	color: #000000;
	padding: 2px;
	border-collapse: collapse;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid #c5c5c5;
}

.list td {
	padding: 3px;
}

.list_money {
	width: 100px;
}

tr.total_amount > td {
	color: #777777;
}

input.default {
	color:#bbb;
}

form.budget {
	background:#fff;
	padding: 0em;
	border: none;
	margin: 0em;
}

.moxietitle {
	cursor: hand;
	cursor: pointer;
	color: #337ab7;
	font-family: Helvetica, sans-serif;
	font-size: 35px;
	font-weight: bold;
}

.moxietitle:hover {
	color: #286090;
}

.moxiebutton {
	font: 90% arial,sans-serif;
	padding: 2px 5px;
	color: #444;
	border-radius: 4px;
	border: 1px solid #aaa;
	background: #fff;
}

div.moxieicon {
	width: 16px;
	height: 16px;
}
div:hover.moxieicon {
	cursor: hand;
	cursor: pointer;
}
div.moxie_header_date {
	height: 100%;
	float: left;
	font-family: Roboto, sans-serif;
	font-size: 23px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	width: 79%;
	line-height: 50px;
}

tr.alt td.alt {
	background: #ecf6fc;
}

tr.over td, tr:hover td.over {
	background: #bbffff;
}

table.moxie, td.moxie, tr.moxie, th.moxie {
	font-family: Monospace;
}

#box {
	border:2px solid #D0E8F4;
	background-color:#ECF8FD;
    padding:5px;
}

#bottom {
	background: #ffffff;
	position: fixed;
	left: 0; right: 0;
	height: 30px;
	color: #222;
	bottom: 0;
}

.moxie-container {
	padding-bottom: 50px;
}

.my-checkbox {
	width: 1em;
}

.moxie_expenses_form_div {
	width: auto;
}

.moxie_edit {
	width: 5%;
}

.moxie_category {
	width: 18%;
}

.moxie_amount {
	width: 22%;
}

.moxie_note {
}

/*** pseudo-select box ***/
div.selectBox {
    position:relative;
    display:inline-block;
    cursor:default;
    text-align:left;
    clear:both;
    color:#888;
    height: 24px;
	z-index: 1;
}
span.selected {
    width:126px;
    padding: 2px 2px 0px 0px;
    text-indent:2px;
    border:1px solid #ccc;
    border-right:none;
    background:#f6f6f6;
    overflow:hidden;
	font: bold 0.95em arial, sans-serif;
    height: 24px;
}
span.selectArrow {
    width:20px;
    height: 21px;
    padding: 2px 0 0 0;
    border:1px solid #0b77b7;
    text-align:center;
    font-size:inherit;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #bbb;
    background:#4096ee;
}

span.selectArrow,span.selected {
    position:relative;
    float:left;
    z-index:300000000;
	height: 24px;
}
div.selectOptions {
    position:absolute;
    top:28px;
    left:0;
    width:99%;
    border:1px solid #ccc;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;
    background:#f6f6f6;
    padding-top:2px;
    display:none;
}

span.selectOption {
    display:block;
    width:80%;
    line-height:20px;
    padding:5px 2%;
	font: bold 0.95em arial, sans-serif;
}

span.selectOption:hover {
    color:#f6f6f6;
    background:#4096ee;
}

.list_moxie_top {
	display:none;
}

.moxie_date_inline {
	width: 20%;
	text-align: center;
}


h2 {
	padding-left: 10px;
}

moxie_expenses_form_left,
moxie_expenses_form_right {
    padding-left: 1.5px;
    padding-right: 1.5px;
}

.search_button {
	padding: 0px 3px 0px 3px;
    width: 100%;
    height: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 1060px) {
	.moxie-container {
		width: 100%;
	}

	.moxie-left {
		float: left;
        width: 50%;
	}

	.moxie-right {
		float: right;
        width: 48%;
	}

	.moxie_expenses_form_left {
		float: left;
		width: 50%
	}

	.moxie_expenses_form_right {
		float: right;
		width: 50%
	}

	.search_button {
		display: none;
	}
}

/* Desktop */
@media only screen and (min-width: 481px) and (max-width: 1059px) {
	html {
	}
    body {
        font-size: 18px;
    }
	legend {
		color:#0b77b7;
		font-size:1.2em;
	}

	nav {
		display: block;
		font-size: 12px;
	}

	.moxie-submenu {
		display: none;
	}

	.moxie-data {
		border: 1px;
		width: 100%;
        font-size: 20px;
	}

	.moxie-stats {
		width: 350px;
		font-size: 22px;
	}

	.my-checkbox {
		width: 1em;
	}

	.moxie_amount {
		width: 16%;
	}

    input[type="submit"] {
        height: 34px;
    }

	.moxie_expenses_form_left {
		float: left;
		width: 50%
	}

	.moxie_expenses_form_right {
		float: right;
		width: 50%
	}

	.search_button {
		display: none;
	}
}

@media screen and (min-width: 481px) and (max-width: 749px) {
	.list_moxie_top {
		display: table-cell;
	}

	.moxie_date_inline {
		display:none;
		width: 0px;
	}

	.moxie_expenses_form_left {
		float: left;
		width: 50%
	}

	.moxie_expenses_form_right {
		float: right;
		width: 50%
	}

	.search_button {
		display: none;
	}
}

/* Mobile */
@media screen and (max-width: 480px) {
	.search_button_mobile {
		display: none;
	}
}

@media screen and (max-device-width: 480px) {
	html {
		font-size: 15px;
		border: 0;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	body {
		border: 0;
		margin: 0;
		padding: 0;
	}

	nav {
		display: block;
	}

	legend {
		color: #0b77b7;
		font-size: 30px;
	}

	form {
		max-width: none;
	}

	.moxie_expenses_form_div {
		width: 100%;
	}

	table {
		font-size: inherit;
	}

	td {
		font-size: 15px;
	}

	input, button.moxie {
		width: 100%;
	}

	select {
		-webkit-background-size: 28px 28px;
		border-radius: 5px;
		border: 1px solid #aaa;
		height: 36px;
		width: 205px;
		padding: 0px;
		padding-left: 4px;
		font: 90% roboto,sans-serif;
	}

	.moxie-left {
		width: 100%;
	}

	.moxie-right {
	}

	.moxie-submenu {
	}

	.moxie-data {
		border: 1px;
		font-size: large;
	}

	.moxie-stats {
		width: 100%;
		font-size: 30px;
	}

    .moxie_note td {
        padding-left: 5px;
    }

    .list td {
        border-top: 0px;
        border-left: none 0px;
        border-right: none 0px #ffffff;
        border-bottom: 1px solid #dddddd;
    }

	.my-checkbox {
		zoom: 1.1;
		width: 30px;
		height: 30px;
	}

	.moxie_amount {
		width: 34%;
		height: 40px;
	}

	.moxie-container {
		width: 100%;
	}

	
	div.selectBox {
		width: 97%;
		line-height: 30px;
	}
	
	span.selected {
		text-indent: 20px;
		width:176px;
        padding: 1px 0px 1px 0px;
	}

    span.selectArrow {
        width: 24px;
    }

	span.selectArrow,span.selected {
		height: 24px;
	}

    div.selectOptions {
        width: 200px;
    }

    input, button.moxie {
        width:200px;
        height: 34px;
    }

    input[type="submit"], button.moxie {
        height: 34px;
    }

	.list_moxie_top {
		display: table-cell;
	}

	.moxie_date_inline {
		display:none;
		width: 0px;
	}

	.moxie_expenses_form_left {}

	.moxie_expenses_form_right {}

	.search_button_mobile {
		display: none;
	}
}

.moxie-submenu {
	display: none;
}

.moxie-stats {
	font-size: 22px;
	width: 100%;
}

.ui-autocomplete {
	max-width: 160px;
}

/*** Fix for typeahead ***/
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
	width: 396px;
	height: 30px;
	padding: 8px 12px;
	font-size: 24px;
	line-height: 30px;
	border: 2px solid #ccc;
	border-radius: 8px;
	outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999;
	width: 100%;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
	width: 422px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-is-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
	color: #fff;
	background-color: #0097cf;

}

.tt-suggestion p {
	margin: 0;
}

.moxie-stats-trends-container {
	padding-bottom: 40px;
}

.bootstrap-tagsinput {
	width: 100%;
}

.bootstrap-tagsinput input {
	width: 100%;
}

ul.categories_list {
	margin:0;
	padding:0;
	list-style-type: none;
}
ul.categories_list, li.categories_list{
	cursor: pointer;
	display: block;
	margin: 5px;
	padding: 5px;
	background: #fff;
}
span.categories_list {
	padding: 5px;
	padding-left: 20px;
	width: 100px;
}

#categories_list { list-style-type: none; margin: 0; padding: 0; width: 80%; }
#categories_list li { margin: 2px 3px 3px 2px; padding: 0.3em; padding-left: 1em; height: 2em; border: 1px #bbbbbb solid; border-radius: 5px; font-size: 18px;}
#categories_list li span { position: relative; vertical-align: middle; }

div.moxie_expenses_form_left table,
div.moxie_expenses_form_right table {
	width: 100%;
    padding-left: 1.5px;
    padding-right: 1.5px;
}

#incomes_all {
	height: 600px;
}

#expenses_month {
    min-height: 350px;
}

#expenses_all {
	margin-top: 2rem;
    margin-bottom: 3rem;
}

.form-group {
	margin-bottom: 1px;
}