{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<script type="text/javascript">
	let deleteUrl = "/expenses/delete/id/";
    let deleteMessage = "{% trans 'expenses_delete_message' %}";
	let tagList = [{% for tag in tags %}
        '{{ tag.name.replace }}',
    {% endfor %}];
    let usedTagList = [
        {% for tag in used_tag_list %}
            '{{ tag.name }}',
        {% endfor %}
    ];
    //let favourite_data = <?php echo $this->favourites_json; ?>;
</script>
<script type="text/javascript" src="{% static '/js/expenses/data.js' %}?v=13"></script>

<div id="form">
    <div class="form-group moxie_expenses_form_div moxie_expenses_form_left">
        <form method="POST" action="/expenses/add/">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div id="search_box" class="moxie_expenses_form_div moxie_expenses_form_right">
        {% include 'common/filter.html' %}
    </div>
</div>
