{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<head>
<script type="text/javascript">
	let year = {% now 'Y' %};
	let month = {% now 'm' %};
</script>
</head>

<a>
<div class="moxie-submenu">
<div><a href="#data">{% trans 'Go to expenses' %}</a></div>
<div><a href="#stats">{% trans 'Go to stats' %}</a></div>
</div>
</a>

<div class="moxie-container mt-3">
<div class="moxie-left">
<a id="data"></a>
{% include 'expenses/data_header.html' %}

{% include 'common/data.html' %}

</div>
<div class="moxie-right">
<a id="stats"></a>
    {% include 'expenses/stats.html' %}
</div>
</div>
{% endblock %}