{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<head>
<script type="text/javascript" language="text/javascript">
	var year = {% now 'Y' %}
	var month = {% now 'm' %}
</script>
</head>

<a name="top">
<div class="moxie-submenu">
<div><a href="#data">{% trans 'Go to expenses' %}</a></div>
<div><a href="#stats">{% trans 'Go to stats' %}</a></div>
</div>
</a>


<div class="moxie-container">
<div class="moxie-left">
<a id="data"></a>
{% include 'expenses/data_header.html' %}

{% include 'common/data.html' %}

</div>
<div class="moxie-right">
<a id="stats"></a>
    {% include 'expenses/stats.html' %}
</div>
</div>
{% endblock %}