{% load static %}
{% load i18n %}
{% load mathfilters %}

<div id="expenses_month"></div>

<table class="table table-striped w-100" id="budget-table">
<tr>
    <td></td>
    <td class="text-right">{% trans 'expenses_spent' %}</td>
    {% if budget %}
    <td class="text-right">{% trans 'expenses_budget' %}</td>
    {% endif %}
</tr>
    {% for budget_line in budget %}
    <tr>
        <td><a href="/expenses/?csrfmiddlewaretoken={{ csrf_token }}&category={{ budget_line.category__id }}">{{ budget_line.category__name }}</a></td>
        <td class="text-right">{{ budget_line.transaction_total|abs|floatformat:2 }} &euro;</td>
        {% if budget %}
        <td class="text-right" style="color: {% if budget_line.transaction_total < budget_line.user__budgets__amount %}#00FF00{% else %}#FF0000{% endif %}">{{ budget_line.user__budgets__amount|abs|floatformat:2 }} &euro;</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td style="font-weight: bold">TOTAL</td>
        <td class="text-right">{{ budget_total_spent|abs|floatformat:2 }} &euro;</td>
        {% if budget %}
        <td class="text-right" style="color: {% if budget_total_spent > budget_total %}#FF0000{% else %}#00FF00{% endif %}">{{ budget_total|abs|floatformat:2 }} &euro;</td>
        {% endif %}
    </tr>
</table>

<script type="text/javascript">
    let pieData = {% if pie_data %}{{ pie_data|safe }}{% else %}[]{% endif %};
    let barChartData = {% if month_expenses %}{{ month_expenses|safe }}{% else %}[["Month", "En la suma total", "Fuera del total"],["Jan",0,0]]{% endif %};
    let pieTitle = "{% trans 'expenses_monthly' %}";
    let barTitle = "{% trans 'expenses_by_months' %}";
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{% static '/js/expenses/stats.js' %}?v=10.6"></script>

<div id="expenses_all"></div>

{% include 'common/to_top.html' %}
