{% load static %}
{% load i18n %}

<div id="expenses_month"></div>

<table class="table table-striped" id="mytable" width="100%">
<tr>
    <td></td>
    <td align="right">{% trans 'expenses_expended' %}</td>

{% if budget %}
    <td align="right">{% trans 'expenses_budget' %}</td>
{% endif %}
</tr>
<!--$total = 0;-->
<!--$budget_total = 0;-->
<!--foreach ($this->expenses as $key => $data) {-->
<!--    $amount = $data['sum(e.amount)'];-->
<!--    $current = $data['id'];-->
<!--    $category_name = $data['name'];-->
<!--    $total += $amount;-->
<!--    $budget_amount = (isset($this->budget[$current])) ? $this->budget[$current] : 0;-->
<!--    $budget_color = ($budget_amount <= $amount) ? '#FF0000' : '#00FF00';-->
<!--    $s_out .= '<tr>'-->
<!--        .'<td><a href="/expenses/index/category/'.$data['id'].'/month/'.$this->month.'/year/'.$this->year.'">'.$category_name.'</a></td>'-->
<!--        .'<td align="right">'.number_format($amount,2).' &euro;</td>';-->
<!--    if(!empty($this->budget)) {-->
<!--        $s_out .= '<td align="right" style="color: '.$budget_color.';">'.$budget_amount.' &euro;</td>';-->
<!--        $budget_total = $budget_total + $budget_amount;-->
<!--    }-->
<!--    $s_out .= '</tr>';-->
<!--}-->
<!--$s_out .= '<tr><td><B>TOTAL</B></td><td align="right"><B>'.number_format($total,2).' &euro;</B></td>';-->
<!--if (!empty($this->budget)) {-->
<!--    $budget_color = ($budget_total <= $total) ? '#FF0000' : '#00FF00';-->
<!--    $s_out .= '<td align="right" style="color: '.$budget_color.';">'.number_format($budget_total,2).' &euro;</td>';-->
<!--}-->
</table>

<script type="text/javascript">
    let pieData = {% if pie_data %}{{ pie_data|safe }}{% else %}[]{% endif %};
    let barChartData = {% if month_expenses %}{{ month_expenses|safe }}{% else %}[["Month", "En la suma total", "Fuera del total"],["Jan",0,0]]{% endif %};
    let pieTitle = "{% trans 'expenses_monthly' %}";
    let barTitle = "{% trans 'expenses_by_months' %}";
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{% static '/js/expenses/stats.js' %}?v=10.6"></script>

<div id="expenses_all"></div>

{% include 'common/to_top.html' %}
